* {
  box-sizing: border-box;
}

#page-body {
  text-align: center;
  background-color: white;
}

.search-bar {
  width: 300px;
  height: 50px;
  padding: 10px;
  border:none;
}

.search-button {
  width: 100px;
  background-color: #87b940;
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  
}

.search-content {
  display: flex;
  align-items:center;
  border: solid black 2px;
  border-radius: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.page-title {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  color: #27c4f4;
}

.table-header {
  font-weight: bold;
  background-color: lightgray;
}

tr {
  height: 100px;
}

table{
  border: 2px solid black;
  padding: 2px;
  border-collapse: collapse;
  border: 3px solid black;
  margin: auto;
}
th, td {
  border-collapse: collapse;
  border: 3px solid black;
  width: 100px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  color: #27c4f4;;
  width: 100px;
  padding: 10px;
  margin: 5px;
}

.num-input {
  width: 50px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.num-results {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

